<ion-content>

    <ion-button slot="content" size="small" (click)="loadLeyline('Ancient Village or Settlement.geojson')">Load
        Leyline</ion-button>

    <ion-accordion-group slot="fixed" vertical="top" horizontal="end" color="primary" class="layeraccordion">



        <ion-accordion value="first">

            <ion-item slot="header" color="light">
                <ion-icon src="./assets/ionicons.designerpack/layers-outline.svg"></ion-icon>
                <ion-label>Layers</ion-label>
            </ion-item>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Ancient_Cross')">Ancient Cross</ion-button>
            <ion-button slot="content" size="small"
                (click)="onToggleLayer('Ancient_Mine_Quarry_or_other_Industry')">Ancient Mine Quarry or other
                Industry</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Ancient_Temple')">Ancient
                Temple</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Ancient_Village_or_Settlement')">Ancient
                Village or Settlement</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Artificial_Mound')">Artificial
                Mound</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Barrow_Cemetery')">Barrow
                Cemetery</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Burial_Chamber_or_Dolmen')">Burial Chamber
                or Dolmen</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Cairn')">Cairn</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Cave_or_Rock_Shelter')">Cave or Rock
                Shelter</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Chambered_Tomb')">Chambered
                Tomb</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Hillfort')">Hillfort</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Holed_Stone')">Holed Stone</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Misc_Earthwork')">Misc
                Earthwork</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Modern_Stone_Circle_etc')">Modern Stone
                Circle etc</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Museum')">Museum</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Rock_Art')">Rock Art</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Round_Barrow_s')">Round Barrow
                s</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Round_Cairn')">Round Cairn</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Sculptured_Stone')">Sculptured
                Stone</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Standing_Stone_Menhir')">Standing Stone
                Menhir</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Standing_Stones')">Standing
                Stones</ion-button>
            <ion-button slot="content" size="small" (click)="onToggleLayer('Stone_Circle')">Stone Circle</ion-button>
            <ion-button slot="content" size="small" (click)="loadLeyline('Ancient_Village_or_Settlement.geojson')">Load
                Leyline</ion-button>
        </ion-accordion>

    </ion-accordion-group>

    <ion-button slot="fixed" vertical="top" (click)="showNearbyPoints(map)" class="nearbypoints">Nearby
        Sites</ion-button>


    <div class="map match-parent" id="map" style="color: black;"></div>


    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="Ionicfablist">
        <ion-fab-button>
            <ion-icon src="./assets/ionicons.designerpack/add-outline.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">

            <ion-fab-button *ngIf="isLoggedIn" (click)="goToProfile()" value="first" color="primary">
                <ion-icon size="large" src="./assets/ionicons.designerpack/copy.svg">Profile</ion-icon>
            </ion-fab-button>

            <ion-fab-button *ngIf="!isLoggedIn" (click)="signInWithGoogle()" color="primary">
                <ion-icon src="./assets/ionicons.designerpack/logo-google.svg">Login</ion-icon>
            </ion-fab-button>

            <ion-fab-button *ngIf="isLoggedIn" (click)="logout()" color="primary">
                <ion-icon size="large" src="./assets/ionicons.designerpack/log-out-outline.svg">Logout</ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>




</ion-content>



















<!--
    <ion-button *ngIf="isLoggedIn" (click)="profile()">
        Profil
    </ion-button>
-->