.body {
    margin: 0;
    padding: 0;

}

.match-parent {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.Ionicfablist {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
}