.body {
    margin: 0;
    padding: 0;

}

.match-parent {

    position: relative;
    z-index: -100;
    height: 100vh;
    width: 100vw;
}

.Ionicfablist {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
}

.positionbutton {
    position: absolute;

    z-index: 1000;
}

.mapboxgl-canvas {
    z-index: -1;
}

.map {}

:host {
    .map {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: -100;
        color: black;
    }
}