<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title label>Profilepage</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="large-card" *ngIf="!loaded">
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="large-card" *ngIf="loaded">
    <ion-card-header>
      <ion-button (click)="takePicture()">select a picture</ion-button>
      <ion-avatar slot="start">
        <img [src]="imageUrl">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button>Update</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="goToMap()" src="./assets/ionicons.designerpack/arrow-undo-outline.svg" class="right-align"
    vertical="bottom">Back</ion-button>
</ion-content>